# Virtual environments
.venv/
env/
venv/
dist/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyc
# Poetry build artifacts
dist/
build/
*.egg-info/

# VSCode and IDEs
.vscode/
.idea/

# Environment variables
.
tasks/__pycache__

